@media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 480px;
    }
    .row{
        flex-wrap: wrap;
        gap: 5rem 0;
    }
    .col, .col-left, .col-right{
        min-width: 100%;
    }
    
}