@media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 480px;
    }
    .row{
        flex-wrap: wrap;
        gap: 5rem 0;
    }
    .col, .col-left, .col-right{
        min-width: 100%;
    }

    .lessons{
        padding-bottom: 3rem;
    }

    .steps {
        margin: 0;
    }

    .why-us{
        margin-bottom: 0;
        padding: 3rem 0;
        background-color: black;
    }   
    
}